<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lam.tms.mapper.TestCaseDesignMapper">
    <resultMap id="BaseResultMap" type="com.lam.tms.entity.TestCaseDesign">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="case_mark" jdbcType="VARCHAR" property="caseMark"/>
        <result column="item_mark" jdbcType="VARCHAR" property="itemMark"/>
        <result column="classification_mark" jdbcType="VARCHAR" property="classificationMark"/>
        <result column="test_track" jdbcType="VARCHAR" property="testTrack"/>
        <result column="test_method" jdbcType="VARCHAR" property="testMethod"/>
        <result column="test_description" jdbcType="VARCHAR" property="testDescription"/>
        <result column="premise_constraint" jdbcType="VARCHAR" property="premiseConstraint"/>
        <result column="end_condition" jdbcType="VARCHAR" property="endCondition"/>
        <result column="operating_description" jdbcType="CLOB" property="operatingDescription"/>
        <result column="expected_result" jdbcType="CLOB" property="expectedResult"/>
        <result column="evaluation_criteria" jdbcType="VARCHAR" property="evaluationCriteria"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="comment" jdbcType="CLOB" property="comment"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="BaseList">
        id, case_mark, test_track, test_method, test_description,
        premise_constraint, end_condition, operating_description,
        expected_result, evaluation_criteria, comment
    </sql>
    <select id="getAllList" resultMap="BaseResultMap">
        SELECT * FROM test_case_design
    </select>

    <select id="getListByMark" resultMap="BaseResultMap">
        SELECT * FROM test_case_design where case_mark like concat('%',#{caseMark},'%')
    </select>

    <select id="checkMark" resultType="Integer">
        select count(*) from test_case_design where case_mark like concat('%',#{curMark},'%')
    </select>

    <delete id="deleteById" parameterType="Integer">
        delete from test_case_design where id = #{id}
    </delete>

    <update id="updateCase">
        update test_case_design
        set
            id = #{id},
            case_mark = #{caseMark},
            test_track = #{testTrack},
            test_method = #{testMethod},
            test_description = #{testDescription},
            premise_constraint = #{premiseConstraint},
            end_condition = #{endCondition},
            operating_description = #{operatingDescription},
            expected_result = #{expectedResult},
            evaluation_criteria = #{evaluationCriteria},
            comment = #{comment}
        where id = #{id}
    </update>

    <insert id="createCase">
        insert into test_case_design (
            item_mark, classification_mark, case_mark, test_track, test_method, test_description,
            premise_constraint, end_condition, operating_description,
            expected_result, evaluation_criteria, comment
        ) values (#{itemMark},#{classificationMark},#{caseMark},#{testTrack},#{testMethod},
                  #{testDescription},#{premiseConstraint},#{endCondition},
                  #{operatingDescription},#{expectedResult},#{evaluationCriteria},#{comment}
        )
    </insert>
</mapper>