<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lam.tms.mapper.TestCaseTestMapper">
    <resultMap id="BaseResultMap" type="com.lam.tms.entity.TestCaseTest">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="item_mark" jdbcType="VARCHAR" property="itemMark"/>
        <result column="case_mark" jdbcType="VARCHAR" property="caseMark"/>
        <result column="test_by" jdbcType="VARCHAR" property="testBy"/>
        <result column="supervised_by" jdbcType="VARCHAR" property="supervisedBy"/>
        <result column="execution_date" jdbcType="VARCHAR" property="executionDate"/>
        <result column="test_version" jdbcType="VARCHAR" property="testVersion"/>
        <result column="actual_result" jdbcType="VARCHAR" property="actualResult"/>
        <result column="execution_result" jdbcType="VARCHAR" property="executionResult"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="comment" jdbcType="CLOB" property="comment"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="getAllList" resultMap="BaseResultMap">
        SELECT *
        FROM test_case_test
    </select>

    <delete id="deleteById" parameterType="Integer">
        delete
        from test_case_test
        where id = #{id}
    </delete>

    <update id="updateCase">
        update test_case_test
        set id               = #{id},
            item_mark        = #{itemMark},
            case_mark        = #{caseMark},
            execution_date   = #{executionDate},
            test_version     = #{testVersion},
            actual_result    = #{actualResult},
            execution_result = #{executionResult}
        where id = #{id}
    </update>

    <insert id="createCase">
        insert into test_case_test (item_mark, case_mark, test_version, actual_result, execution_result,
                                    test_by, supervised_by, execution_date, comment)
        values (#{itemMark}, #{caseMark}, #{testVersion}, #{actualResult},
                #{executionResult}, #{testBy},
                #{supervisedBy}, #{executionDate}, #{comment})
    </insert>
</mapper>